@charset "utf-8";
@namespace url(http://www.w3.org/1999/xhtml);
/* i really want this to be global */

/*
Name: /基础广告过滤
Version: 0.0.0.5
Author: vokins
Url: http://code.taobao.org/svn/simpleu/trunk/css/adfilter.css
Lastchage: 11:18 2017/4/10
Description: MayBe a better User CSS Help U.
*/


/* 位置 */
div[class*="top_ad"],
div[class*="_adtop_"],
div[class*="index_ad"],
span[class*="channel_ad"]
{
display: none !important;
	}
/* 文字 */
div[class*="ad_text"],
div[class*="textlink_ad"]
{
display: none !important;
	}


/* 通用 */
[src*="/advertisement/"]
{
display: none !important;
	}
	
/* taobao */
[src*="atanx.alicdn.com"],[src*="afpmm.alicdn.com"],[src*="asearch.alicdn.com"],[src*="strip.alicdn.com/tfscom/"],[src^="https://a1.alicdn.com/creation/html/"],
[src*=".alimama.com"],[href*=".simba.taobao.com"],[href^="//mosaic.re.taobao.com/"]
{
display: none !important;
	}

/* baidu */
[href*="/cpro/ui/"],[src*="/cpro/ui/"],
[href*="cpro.baidu.com"],[src*="pos.baidu.com"],
[src*="baidustatic.com"]
{
display: none !important;
	}

/* Google */
[src*="/pagead/"],
[src*="doubleclick.net"],[src*=".googlesyndication.com"]
{
display: none !important;
	}

/* jd */
iframe[src*="360buyimg.com/jzt/tpl/sspPic.html?ad"],
[src*="im-x.jd.com/"],
[href*="ccc-x.jd.com/"]
{
display: none !important;
	}

/* 163 */
[src*=".126.net/ntesrich/2"],[src^="http://g.163.com/"],a[href^="http://rd.da.netease.com/"],iframe[src*=".126.net/channel"]{
display: none !important;
	}
